* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.topo {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    z-index: 1;
    gap: 20px;
}

.pousada {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.span-cor {
    color: dodgerblue;
}

.topo a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 20px;
}

.container-opacity {
    width: 600px;
    height: 250px;
    background-color: rgba(0, 187, 151, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 1px #fff;
    border-radius: 4px;
}

.conteudo-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.conteudo-box h1 {
    font-size: 65px;
    color: #fff;
}

.conteudo-box p {
    color: #fff;
    font-size: 32px;
}

.img-background {
    height: 90vh;
    background-image: url('assets/img-fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limitado {
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4b4e50;
}

.bem-vindo h2,
.rota h2,
.sobre h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;
}

.bem-vindo p,
.rota p,
.sobre p {
    line-height: 40px;
    font-size: 18px;
}

.img-rooms img {
    width: 370px;
}

.img-rooms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.img-rooms div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #07b8ad;
}

.img-rooms a {
    text-decoration: none;
    display: flex;
    padding: 20px 0;
    color: #4b4e50;
    font-size: 22px;
    font-weight: 500;
}

.map iframe {
    width: 100%;
    height: 60vh;
}

.container-card {
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-img {
    width: 110px;
    height: 120px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.card-info h3 {
    font-size: 20px;
    color: #4b4e50;
}

.card-info p {
    font-size: 17px;
    color: #4b4e50;
}

.rodape {
    background-color: #49997c;
    margin: 0 auto;
}

.container-box {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 30px;
}

.box a {
    text-decoration: none;
    color: #fff;
    font-size: 18px
}

.box {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.box h4 {
    font-size: 25px;
}

.box p {
    font-size: 18px;
}

.box img {
    width: 50px;
}

.max-wid-line {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.line {
    margin: 0 auto;
    flex: 1 1 auto;
    background-color: #3f8e71;
    height: 2px;
}

.copyright {
    background-color: #49997c;
    padding: 25px 0;
}

.copyright div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}