* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*Cabeçalho*/
.topo {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    z-index: 1;
    gap: 20px;
}

.topo .pousada {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.span-cor {
    color: dodgerblue;
}

.topo a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 20px;
}

.img-background {
    height: 30vh;
    background-image: url('assets/img-fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.limitado {
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4b4e50;
}

.solt h2,
.cas h2,
.fam h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;
}

.solt p,
.cas p,
.fam p {
    line-height: 40px;
    font-size: 18px;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.container-img img {
    width: 370px;
    height: 250px;
}

/*Rodapé*/
.rodape {
    background-color: #49997c;
    margin: 0 auto;
}

.container-box {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 30px;
}

.box a {
    text-decoration: none;
    color: #fff;
    font-size: 18px
}

.box {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.box h4 {
    font-size: 25px;
}

.box p {
    font-size: 18px;
}

.box img {
    width: 50px;
}

.max-wid-line {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.line {
    margin: 0 auto;
    flex: 1 1 auto;
    background-color: #3f8e71;
    height: 2px;
}

.copyright {
    background-color: #49997c;
    padding: 25px 0;
}

.copyright div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}